html,
body {
    margin: 0;
    padding: 0;
}

:root {
    --black: #000000;
    --red: #DE0002;
    --yellow: #FFCE00;
    --flag-height: 300px;
}

.container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.flag-germany {
    height: var(--flag-height);
    width: calc(var(--flag-height) * (5/3));
    display: grid;
}

.black {
    background-color: var(--black);
}

.red {
    background-color: var(--red);
}

.yellow {
    background-color: var(--yellow);
}