html,
body {
    margin: 0;
    padding: 0;
    background: black;
}

:root {
    --white: #FFFFFF;
    --red: #FC3E32;
    --green: #007E39;
    --flag-height: 300px;
}

.container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.flag-madagascar {
    height: var(--flag-height);
    width: calc(var(--flag-height) * (3/2));
    display: flex;
}


.white {
    background-color: var(--white);
    width: calc(var(--flag-height)/2);
}

.red {
    background-color: var(--red);
    height: calc(var(--flag-height)/2);
    width: var(--flag-height);
}

.green {
    background-color: var(--green);
    height: calc(var(--flag-height)/2);
    width: var(--flag-height);
}