html,
body {
    margin: 0;
    padding: 0;
    background: black;
}

:root {
    --white: #FFFFFF;
    --red: #BC022C;
    --flag-height: 300px;
}

.container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.flag-japan {
    height: var(--flag-height);
    width: calc(var(--flag-height) * 3/2);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--white);
}

.circle {
    height: calc(var(--flag-height) * 3/5);
    width: calc(var(--flag-height) * 3/5);
    border-radius: 50%;
    background-color: var(--red);
}